* {
  box-sizing: border-box;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  width: 6.2rem;
  /* object-fit: contain; */
  cursor: pointer;
}
.nav__input-wrapper {
  position: relative;
}
.nav__search-icon {
  position: absolute;
  top: 0.4rem;
  left: 0.6rem;
  width: 1rem;
}
.nav__input {
  width: 20rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
  padding-left: 2.2rem;
  border: none;
}

.nav__avatar {
  width: 2rem;
  /* object-fit: contain; */
  cursor: pointer;
}
